:root {
    --accent-colour-left: #019658; /*#005CDE;*/
    --accent-colour-right: #f6eee3; /*#005CDE;*/
    --text-left-color: #fefaf4;
    --text-right-accent-colour: #005733; /*#0047AB;*/
  }

body {
    font-family: "Noto Sans Display", serif; /*  "JetBrains Mono", monospace; */
    font-size: 10.5pt;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: 0px;
}

H1 {
    font-family: "Noto Serif Display", serif; /* VT323, monospace;*/
    font-size: 8vh;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 87.5;
}


/* grid */

.grid-container {
    display: grid;
    grid-template-areas: 'gridleft gridright';
    width: 100%;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: 100vh;  /* prevent whole page scroll */
}


/* Grid items */

.grid-item {
    color: #000000;
    padding: 10px;
    background: #FFFFFF;
}

.grid-item.gridleft {
    grid-area: gridleft;
    padding: 10px 10px 10px 40%;
    color: var(--text-left-color);
    background: var(--accent-colour-left);
    overflow: auto;  
}

.grid-item.gridright {
    grid-area: gridright;
    padding: 10px 40% 10px 10px;
    overflow: auto;   
    background: var(--accent-colour-right);
}


@media only screen and (max-width: 1400px) {
    .grid-item.gridleft {
        padding: 10px 10px 10px 20%;
    }
    .grid-item.gridright {
        padding: 10px 20% 10px 10px;
    }
}

/* Phones */
@media only screen and (max-width: 900px) {
    .grid-container {
        display: grid;
        grid-template-areas: 'gridleft' 'gridright';
        width: 100%;
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: auto; /* prevent a scrolling issue on phones */ 
    }
    .grid-item.gridleft {
        padding: 10px 5% 10px 5%;
    }
    .grid-item.gridright {
        padding: 10px 5% 10px 5%;
    }
}

/* Text formats */

a {
    color: var(--text-right-accent-colour);
    cursor: cell;
    text-decoration: none;
    font-weight: bold;
    font-weight: 500;
}

a:hover {
    color: rgb(66, 66, 66);
}

.grid-item.gridleft a{
    color: var(--text-left-color);
    cursor: cell;
    text-decoration: underline;
    font-weight: bold;
    font-weight: 500;
}

.grid-item.gridleft b{
    color: var(--text-left-color);
    font-weight: bold;
    font-weight: 500;
}



