body {
    font-family: sans-serif;
    margin: 0px;
    /* background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%); */
}


/* grid */

.grid-container {
    display: grid;
    grid-template-areas: 'header header' 'gridleft gridright';
    width: 100%;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

@media only screen and (max-width: 1400px) {
    .grid-container {
        display: grid;
        grid-template-areas: 'header header' 'gridleft gridright';
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .grid-container {
        display: grid;
        grid-template-areas: 'header' 'gridleft' 'gridright';
        width: 100%;
        grid-template-columns: minmax(0, 1fr);
    }
}


/* Grid items */

.grid-item {
    color: #000000;
    font-size: 15px;
    padding: 10px;
    background: #FFFFFF;
}

.grid-item:hover {
    background: #00FF00;
}

.grid-item.header {
    grid-area: header;
    padding: 10px 20% 10px 20%;
}

.grid-item.gridleft {
    grid-area: gridleft;
    padding: 10px 10px 10px 40%;
}

.grid-item.gridright {
    grid-area: gridright;
    padding: 10px 40% 10px 10px;
}

@media only screen and (max-width: 1400px) {
    .grid-item.header {
        padding: 10px 10% 10px 10%;
    }
    .grid-item.gridleft {
        padding: 10px 10px 10px 20%;
    }
    .grid-item.gridright {
        padding: 10px 20% 10px 10px;
    }
}

@media only screen and (max-width: 800px) {
    .grid-item.header {
        padding: 10px 5% 10px 5%;
    }
    .grid-item.gridleft {
        padding: 10px 5% 10px 5%;
    }
    .grid-item.gridright {
        padding: 10px 5% 10px 5%;
    }
}

@media (hover: none) {
    /* for touch only devices */
    .grid-item.header {
        background: #00FF00;
    }
}


/* Text formats */

a {
    color: rgb(0, 0, 255);
    cursor: cell;
    text-decoration: underline;
}

a:hover {
    color: rgb(255, 0, 0);
}